.custom {
    box-shadow: 0 0 0 5px rgba(32, 166, 90, 0.5) inset !important;
    border: 10px;
}

.clicked {
    border-left: 3px solid rgb(46, 126, 186) !important;
}

.full {
    position: relative;
}

.full::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-top: 5px solid rgba(243, 103, 115, 0.5);
    border-right: 5px solid rgba(243, 103, 115, 0.5);
}

.single-event {
    display: flex;
    justify-content: center;
    align-items: center;
}